header a.navbar-brand {
    margin-right: 2rem;
}

header a.navbar-brand:hover strong {
    color:red;
}

.new-edited-text {
    color:black;
    text-decoration: none;
}

.new-edited-text:hover {
    color:red;
}

strong.active {
    color: yellow;
}

.login-text-block  {
    flex-direction: row;
    margin-right: 20px;
    margin-left: inherit
}

.login-text-block li { 
    margin-left: 20px;
}


.exit-button.show {
    position: absolute;
    min-width: auto;
}


